﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Team Builder</h1>
    <p class="lead">Welcome to Team Builder! find your team mates for the games you play!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Create a Player Profile and browse your games!
        </p>
        <p> <a href="../Player/Register" class="btn btn-primary">Create an Account</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get Involved</h2>
        <p>Join thousands of Guilds from different games!</p>
        <p> <a href="../Guild" class="btn btn-primary">Join a Guild</a></p>
    </div>
    <div class="col-md-4">
        <h2>No more bad games</h2>
        <p>Check out all the games currently supported</p>
        <p> <a href="../Game" class="btn btn-primary">Check Games</a></p>
    </div>
</div>