﻿@model PassionProject_n01321102.Models.Player

@{
    ViewBag.Title = "Delete Player";
}
<div class="col-md-8 col-md-offset-4">
    <h2>Delete player</h2>
    <div class="media">
        <img src="~/img/players/@Model.PlayerAvatar" class="mr-3" alt="...">
        <div class="media-body">
            <h5 class="mt-0">@Model.PlayerFName @Model.PlayerLName</h5>
            <p>Discord Tag: @Model.PlayerDiscord</p>
            <div class="col-md-6 col-md-offset-6">
                <input type="submit" value="Delete" class="btn btn-default" /> 
                @Html.ActionLink("Cancel", "Index",new { @class = "btn btn-alert" })
            </div>
        </div>
    </div>
</div>