﻿@model PassionProject_n01321102.Models.Player

@{
    ViewBag.Title = "Edit Player";
}
<h2>Edit @Model.PlayerFName @Model.PlayerLName</h2>
<div class="col-md-12">
    <form method="post" action="/Player/Edit/@Model.PlayerID" enctype="multipart/form-data">
        <fieldset>
            <legend>
                Player Details
            </legend>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="New_PlayerFN">First Name</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="PlayerFName" id="PlayerFName" class="form-control" value="@Model.PlayerFName" />
                    @Html.ValidationMessageFor(model => model.PlayerFName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="New_PlayerLN">Last Name</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="PlayerLName" id="PlayerLName" class="form-control" value="@Model.PlayerLName" />
                    @Html.ValidationMessageFor(model => model.PlayerLName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="New_Discord">Discord Tag</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="PlayerDiscord" id="PlayerDiscord" class="form-control" value="@Model.PlayerDiscord" />
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Upload an avatar</legend>
            <div class="col-md-6 col-md-offset-6">
                @if (Model.HasAvatar == 1)
                {
                    <img class="rounded" src="~/images/players/@Model.PlayerAvatar"/>
                }
                else
                {
                    <img width="128" src="~/images/players/default.png"/>
                }
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    <input type="file" id="PlayerAvatar" name="PlayerAvatar">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </div>
        </fieldset>
    </form>
</div>