﻿@model IEnumerable<PassionProject_n01321102.Models.Player>

@{
    ViewBag.Title = "Players";
}

 <h2>Player List</h2>
<div class="col-md-8">
    @Html.ActionLink("Register an Account", "Register")
</div>

<table class="table table-striped">
    <tr>
        <th>
            Full Name
        </th>
        <th class="text-center">
            Discord Tag
        </th>
        <th class="text-right">
          User options
        </th>        
    </tr>

    @foreach (var players in Model)
    {
        <tr>
            <td>
                @if (players.HasAvatar == 1)
                {
                    <img width="40" src="~/images/players/@players.PlayerAvatar" class="rounded" alt="avatar" />
                }
                else
                {
                    <img width="40" src="~/images/players/default.png" class="rounded" alt="avatar" />
                }
                @players.PlayerFName @players.PlayerLName
            </td>
            <td class="text-center">
                @players.PlayerDiscord
            </td>
            <td class="text-right">
                @Html.ActionLink("Edit Player", "Edit", new { id = players.PlayerID }) |
                @Html.ActionLink("View Profile", "Profile", new { id = players.PlayerID }) |
                @Html.ActionLink("Delete", "Delete", new { id = players.PlayerID })
            </td>
        </tr>
    }

</table>
