﻿@model PassionProject_n01321102.Models.Player

@{
    ViewBag.Title = "Profile";
}
<div class="col-md-12 text-right">
    <a href="../Edit/@Model.PlayerID" class="btn btn-primary"> Edit Profile </a>
    <a href="../List" class="btn btn-dark"> Go Back </a>
</div>
<div>
    <div class="col-md-12 text-center">
        <div class="img-container">
            @if (Model.HasAvatar == 1)
            {
                <div class="img-container">
                    <img class="rounded" src="~/images/players/@Model.PlayerAvatar" />
                </div>
            }
            else
            {
                <img width="128" src="~/images/players/default.png"/>
            }
        </div>
        <h2>@Model.PlayerFName  @Model.PlayerLName</h2>
        <p> Discord Tag: @Model.PlayerDiscord </p>
    </div>
    <h4>Games Played by @Model.PlayerFName  @Model.PlayerLName</h4>
    <div class="gameList">
        @foreach (var game in Model.Games)
        {
            <div class="media">
                <img src="~/img/games/@game.GameLogo" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">@game.GameName</h5>
                    <p>@game.GameDescription</p>
                    @Html.ActionLink(game.GameName, "View/" + game.GameID, "Game")
                </div>
            </div>
        }
    </div>
</div>