﻿@model PassionProject_n01321102.Models.Player

@{
    ViewBag.Title = "Register A New Player";
}
<h2>Register a New Player</h2>
    <div class="col-md-12">
        <form method="post" action="/Player/Create">
            <fieldset>
                <legend>
                    Player Details
                </legend>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="New_PlayerFN">First Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="New_PlayerFN" id="New_PlayerFN" class="form-control" />
                        @Html.ValidationMessageFor(model => model.PlayerFName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="New_PlayerLN">Last Name</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="New_PlayerLN" id="New_PlayerLN" class="form-control" />
                        @Html.ValidationMessageFor(model => model.PlayerLName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4">
                        <label for="New_Discord">Discord Tag</label>
                    </div>
                    <div class="col-md-8">
                        <input type="text" name="New_PlayerDiscord" id="New_PlayerDiscord" class="form-control" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8">
                        <input type="submit" value="Register" class="btn btn-primary" />
                    </div>
                </div>
            </fieldset>
        </form>
    </div>