﻿@model PassionProject_n01321102.Models.Category
@{
    ViewBag.Title = "Add Game Category";
}

<h2>Add Category</h2>
<div class="col-md-6 col-md-offset-6">
    <form method="post"action="/Category/AddCategory">
        <div class="form-group">
            <div class="col-md-6">
                <label for="categoryName">Category Name</label>
            </div>
            <div class="col-md-6">
                <input type="text" name="New_CategoryName" id="categoryName" class="form-control" />
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label for="categoryDesc">Category Description (255 characters max)</label>
            </div>
            <div class="col-md-6">
                <textarea cols="500" rows="5" name="New_CategoryDescription" class="form-control"></textarea>
            </div>
        </div>
        <br/>
        <div class="col-md-12">
            <input type="submit" value="Add" class="btn btn-primary" />
        </div>
    </form>
</div>
