﻿@model PassionProject_n01321102.Models.Category
@{
    ViewBag.Title = "Category Details";
}
<div class="col-md-12 text-right">
    <a href="../Edit/@Model.CategoryID" class="btn btn-primary">Edit Category</a>
    <a href="../List" class="btn btn-link">Go Back</a>
</div>
<div class="col-md-12">
    <h2>@Model.CategoryName</h2>
    <p>@Model.CategoryDescription</p>
</div>
