﻿@model PassionProject_n01321102.Models.Category
@{
    ViewBag.Title = "Edit Game Category";
}

<h2>Edit @Model.CategoryName</h2>
<div class="col-md-6 col-md-offset-6">
    <form method="post" action="/Category/Modify">
        <div class="form-group">
            <div class="col-md-4">
                <label for="categoryName">Category Name</label>
            </div>
            <div class="col-md-8">
                <input type="text" name="CategoryName" id="categoryName" value="@Model.CategoryName" />
                @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label for="categoryDesc">Category Description (255 characters max)</label>
            </div>
            <div class="col-md-8">
                <textarea cols="500" rows="5" name="CategoryDescription">@Model.CategoryDescription</textarea>
            </div>
        </div>
        <div class="col-md-12">
            <input type="submit" value="Edit" class="btn btn-primary" />
        </div>
    </form>
</div>
