﻿@model IEnumerable<PassionProject_n01321102.Models.Category>
@{
    ViewBag.Title = "List";
}

<h2>Category List</h2>
<a href="Add" class="btn btn-primary">Add Category</a>
<div class="col-md-8">
    <ul class="list-group list-group-flush">
        @foreach (var category in Model)
        {
            <li class="list-group-item">
                <a href="Details/@category.CategoryID">@category.CategoryName</a>
                <span class="btn-group-sm float-md-right"><a href="Edit/@category.CategoryID" class="btn btn-info">Edit</a> <a href="Delete/@category.CategoryID" class="btn btn-danger">Delete</a></span>
            </li>
        }
    </ul>
</div>