﻿@model  PassionProject_n01321102.Models.MultiModels.GuildMultiModel
@{
    ViewBag.Title = "Add Guild";
}
<h2>Add a new Guild</h2>
<div class="col-md-12">
    <form method="post" action="/Guild/CreateGuild">
        <fieldset>
            <legend>
                Guild Details
            </legend>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="New_GuildName">Guild Name</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="New_GuildName" id="New_GuildName" class="form-control" />
                    @Html.ValidationMessageFor(model => model.guild.GuildName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="New_gameList">Guild Game</label>
                </div>
                <div class="col-md-8">
                    <select name="New_gameList" class="form-control">
                        @foreach (var games in Model.game)
                        {
                            <option value="@games.GameID">@games.GameName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="New_GuildDesc">Guild Description (255 characters max)</label>
                </div>
                <div class="col-md-8">
                    <textarea cols="500" rows="5" name="New_GuildDescription" id="New_GuildDesc" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Add New Guild" class="btn btn-primary" />
                </div>
            </div>
        </fieldset>
    </form>
</div>