﻿@model  PassionProject_n01321102.Models.MultiModels.GuildMultiModel
@{
    ViewBag.Title = "Edit Guild";
}
<h2>Add a new Guild</h2>
<div class="col-md-12">
    <form method="post" action="/Guild/UpdateGuild/@Model.guild.GuildId" enctype="multipart/form-data">
        <fieldset>
            <legend>
                Guild Details
            </legend>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="New_GuildName">Guild Name</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="GuildName" id="GuildName" class="form-control" value="@Model.guild.GuildName" />
                    @Html.ValidationMessageFor(model => model.guild.GuildName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="gameList">Guild Game</label>
                </div>
                <div class="col-md-8">
                    @Model.guild.game.GameName
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="New_GuildDesc">Guild Description (255 characters max)</label>
                </div>
                <div class="col-md-8">
                    <textarea cols="500" rows="5" name="GuildDescription" id="GuildDesc" class="form-control">@Model.guild.GuildDescription</textarea>
                </div>
            </div>
            <fieldset>
                <legend>Upload an Emblem</legend>
                <div class="col-md-6 col-md-offset-6">
                    @if (Model.guild.HasEmblem == 1)
                    {
                        <img width="300" class="rounded" src="~/images/games/@Model.guild.GuildEmblem" />
                    }
                    else
                    {
                        <img width="300" class="rounded" src="~/images/players/default.png" />
                    }
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="file" id="GuildEmblem" name="GuildEmblem">
                    </div>
                </div>
            </fieldset>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Edit Guild" class="btn btn-primary" />
                </div>
            </div>
        </fieldset>
    </form>
</div>