﻿@model IEnumerable<PassionProject_n01321102.Models.Guild>

@{
    ViewBag.Title = "Guilds";
}

<h2>Guild List</h2>
<div class="col-md-12 text-right">
    <a href="Add" class="btn btn-primary">Create a Guild</a>
</div>
<br/>
<div class="col-md-12">
    <table class="table table-striped">
        <tr>
            <th>
                Guild Name
            </th>
            <th class="text-center">
                Game
            </th>
            <th class="text-right">
                Guild options
            </th>
        </tr>

        @foreach (var guilds in Model)
        {
            <tr>
                <td>
                    @if (guilds.HasEmblem == 1)
                    {
                        <img width="40" src="~/images/guilds/@guilds.GuildEmblem" class="rounded" alt="emblem" />
                    }
                    else
                    {
                        <img width="40" src="~/images/players/default.png" class="rounded" alt="avatar" />
                    }
                    @guilds.GuildName
                </td>
                <td class="text-center">
                    @guilds.game.GameName
                </td>
                <td class="text-right">
                    @Html.ActionLink("Apply", "Apply", new { id = guilds.GuildId }) |
                    @Html.ActionLink("Edit Guild", "Edit", new { id = guilds.GuildId }) |
                    @Html.ActionLink("View Guild Profile", "Summary", new { id = guilds.GuildId }) |
                    @Html.ActionLink("Delete Guild", "Delete", new { id = guilds.GuildId })
                </td>
            </tr>
        }

    </table>
</div>

