﻿@model PassionProject_n01321102.Models.Guild

@{
    ViewBag.Title = "Guild Profile";
}
<div class="col-md-12 text-right">
    <a href="../Edit/@Model.GuildId" class="btn btn-primary">Edit</a>
    <a href="../List" class="btn btn-link">Back to Games List</a>
</div>
<div>
    <div class="col-md-6 col-md-offset-6">
        <div class="img-container">
            @if (Model.HasEmblem == 1)
            {
                <div class="img-container">
                    <img class="rounded" src="~/images/guilds/@Model.GuildEmblem" />
                </div>
            }
            else
            {
                <img width="128" src="~/images/players/default.png" />
            }
        </div>
        <h2>@Model.GuildName</h2>
        <h3>@Model.game.GameName</h3>
        <h4>Description</h4>
        <p> @Model.GuildDescription</p>
    </div>
    <div class="col-md-12">
        <h4>Members</h4>
        <div class="playerList">
            <!-- TODO: player list-->
        </div>
    </div>
</div>