﻿@model PassionProject_n01321102.Models.MultiModels.GameMultiModel

@{
    ViewBag.Title = "Add Game";
}
<h2>Add a new Game</h2>
<div class="col-md-12">
    <form method="post" action="/Game/AddGame">
        <fieldset>
            <legend>
                Game Details
            </legend>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="New_GameName">Game Title</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="New_GameName" id="New_GameName" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Games.GameName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="New_GameDesc">Game Description (255 characters max)</label>
                </div>
                <div class="col-md-8">
                    <textarea cols="500" rows="5" name="New_GameDescription" id="New_GameDesc" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="GameCat">Game Category</label>
                </div>
                <div class="col-md-8">
                    <select name="New_GameCategory" id="GameCat">
                        <!-- TODO: Game Category-->
                        @foreach (var gamecat in Model.Categories)
                        {
                            <option value="@gamecat.CategoryID">@gamecat.CategoryName</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Add New Game" class="btn btn-primary" />
                </div>
            </div>
        </fieldset>
    </form>
</div>