﻿@model PassionProject_n01321102.Models.MultiModels.GameMultiModel

@{
    ViewBag.Title = "Edit Game";
}
<h2>Edit @Model.Games.GameName</h2>
<div class="col-md-12">
    <form method="post" action="/Game/Update/@Model.Games.GameID" enctype="multipart/form-data">
        <fieldset>
            <legend>
                Game Details
            </legend>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="GameName">Game Title</label>
                </div>
                <div class="col-md-8">
                    <input type="text" name="GameName" id="GameName" class="form-control" value="@Model.Games.GameName" />
                    @Html.ValidationMessageFor(model => model.Games.GameName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="GameDesc">Game Description (255 characters max)</label>
                </div>
                <div class="col-md-8">
                    <textarea cols="500" rows="5" name="GameDescription" id="GameDesc" class="form-control">@Model.Games.GameDescription</textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <label for="GameCat">Game Category</label>
                </div>
                <div class="col-md-8">
                    <select name="gameCategory" id="GameCat">
                        <!-- TODO: Game Category-->
                        @foreach (var gamecat in Model.Categories)
                        {
                            <option value="@gamecat.CategoryID">@gamecat.CategoryName</option>
                        }
                    </select>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend>Upload a Logo</legend>
            <div class="col-md-6 col-md-offset-6">
                @if (Model.Games.HasLogo == 1)
                {
                    <img width="300" class="rounded" src="~/images/games/@Model.Games.GameLogo" />
                }
                else
                {
                    <img width="300" class="rounded" src="~/images/players/default.png" />
                }
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="file" id="GameLogo" name="GameLogo">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-4 col-md-8">
                    <input type="submit" value="Update" class="btn btn-primary" />
                </div>
            </div>
        </fieldset>
    </form>
</div>