﻿@model IEnumerable<PassionProject_n01321102.Models.Game>

@{
    ViewBag.Title = "Games";
}

<h2>Games List</h2>
<div class="col-md-4 padding-bot">
  <a href="Add" class="btn btn-primary">Add a Game</a>
</div>
<div class="row">

    @foreach (var games in Model)
    {
        <div class="col-md-8 padding-bot">
            <div class="media">
                <img class="rounded" src="~/images/games/@games.GameLogo" class="mr-3" alt="...">
                <div class="media-body">
                    <h5 class="mt-0">@games.GameName</h5>
                    <!-- TODO: Print game Category-->
                    <p>@games.GameDescription</p>
                    <a href="Summary/@games.GameID" class="btn btn-primary">View Game</a>
                    <a href="Delete/@games.GameID" class="btn btn-danger">Delete Game</a>
                </div>
            </div>
        </div>
     }
        
    </div>