﻿@model PassionProject_n01321102.Models.Game

@{
    ViewBag.Title = "Game Details";
}
<div class="col-md-12 text-right">
    <a href="../Edit/@Model.GameID" class="btn btn-primary">Edit</a>
    <a href="../List" class="btn btn-link">Back to Games List</a>
</div>
<div>
    <div class="col-md-6 col-md-offset-6">
        <div class="img-container">
            @if (Model.HasLogo == 1)
            {
                <div class="img-container">
                    <img class="rounded" src="~/images/games/@Model.GameLogo" />
                </div>
            }
            else
            {
                <img width="128" src="~/images/players/default.png" />
            }
        </div>
        <h2>@Model.GameName</h2>
        <ul>
            <!--TODO: List Categories-->
        </ul>
        <p> @Model.GameDescription</p>
    </div>
    <h4>Players</h4>
    <div class="playerList">
        <!-- TODO: player list-->
    </div>
    <h4>Similar games</h4>
    <div class="col-md-12">
        <!-- TODO: Add Similar Games-->
    </div>
</div>