﻿.body-content {
    padding-top: 10px;
}
img.rounded {
    max-width: 200px;
}

.padding-bot {
    padding-bottom: 20px;
}

.media {
    border-top: 1px solid black;
    padding: 20px;
}

.media img {
    margin-right: 20px;
}